@import "@fontsource/vt323";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "VT323", monospace;
  font-weight: 400;
  text-shadow: rgb(173, 216, 230, 0.9) 1px 0 10px;
}

.crt-frame {
  pointer-events: none;
  overflow      : hidden;
  z-index       : 9000;
  position      : fixed;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  width         : 100%;
  height        : 100%;
}

.no-text-shadow {
  text-shadow: none;
}

.day-hidden[aria-disabled="true"] {
  display: none;
}

body::-webkit-scrollbar,
.item-scroll::-webkit-scrollbar {
  width : 0.2em;
  height: 0.2em;
}

body::-webkit-scrollbar-track,
.item-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(74, 246, 38, 0.5);
}

body::-webkit-scrollbar-thumb,
.item-scroll::-webkit-scrollbar-thumb {
  @apply bg-black;
}